<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.climbingstairs" >

    <application>
    <activity
        android:label="@string/climbing_stairs"
        android:name="com.tokopedia.climbingstairs.ClimbingStairsActivity" />
    </application>

</manifest>

